extends layout.pug

block content
    div(class='delete')
        p Do you really want to delete this meme?
    div
        form(action=`/meme/delete/${meme.id}` method='post')
            input(type='hidden' name='_csrf' value=csrfToken)
            button(class='deleteButton btn-global' type='submit') Delete Meme
            a(class='deleteButton1' href=`/meme/${meme.id}` role='button') Cancel
