extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  h1= 'Memes'
  div(class='meme-page')
    each meme in memes
      div(class='meme')
        h2 #{meme.name}
        a(href=`/meme/${meme.id}`)
          img(src=meme.meme_url)
