doctype html
html
  head
      block head
        title="Express Starter App"
        link(rel='stylesheet' href='/stylesheets/reset.css')
  body
    nav(class = 'navbar')
      a(class ='memium-logo' href='/') Memeium
      a(class ='create-meme' href='/meme/create') Create Meme
      a(class='login-button' href='/login') Login
      a(class='register-button' href='/signup') Register
      //- a(class='about' href='/about')
      //-placeholder
    block content
