doctype html
html
  head
      block head
        title="Express Starter App"

        link(rel='stylesheet' href='/stylesheets/global.css')
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href='https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap' rel='stylesheet')
        link(href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet")

  body
    navbar(class= 'navbar')
      div(class= 'navbar-left')
        a(class='memium-logo' href="/"): img(class='hover' id="memium-logo" src='/images/Memium_WonB_trimmed.png')
      div(class= 'navbar-right')
        a(class='create-meme navbar-create navbar-logins' href='/meme/create')
          button(class=('btn-global')) Create Meme
        if locals.authenticated
          span(class='navbar-text') Welcome #{user.first_name}!
          form(action='/logout' method='post')
            button(class='btn-logout btn-global' type='submit') Logout
        else
          a(class='btn-nav nav-login navbar-logins' href='/login')
            button(class='btn-global') Login
          a(class='btn-nav nav-signup navbar-logins' href='/signup')
            button(class='btn-signup btn-global') Signup
    block content
    footer
      div(class='footer')
        a(href="https://github.com/pcricket10") Philip MicCrickard - &nbsp
        a(href="https://github.com/RogerCamps") Roger Camps - &nbsp
        a(href="https://github.com/AlexanderSMin") Alexander Min - &nbsp
        a(href="https://github.com/AuDang") Austin Dang - &nbsp
        a(href="https://github.com/AuDang/Memium") Memium
