doctype html
html
  head
      block head
        title="Express Starter App"
        //- link(rel='stylesheet' href='/stylesheets/index.css')
  body
    nav(class = 'navbar')
      a(class ='memium-logo' href='/') Memeium
      a(class ='create-meme' href='/meme/create') Create Meme
      if locals.authenticated
        span(class='navbar-text') Welcome #{user.first_name}!
        form(class='form-inline' action='/logout' method='post')
          button(class='btn btn-sm btn-warning' type='submit') Logout
      else
        span(class='navbar-text')
          a(class='btn btn-sm btn-dark' href='/login') Login
          a(class='btn btn-sm btn-dark' href='/signup') Signup
    block content
