doctype html
html
  head
      block head
        title="Express Starter App"

        link(rel='stylesheet' href='/stylesheets/global.css')

  body
    navbar(class= 'navbar')
      div(class= 'navbar-left')
        a(class='memium-logo' href="/"): img(id="memium-logo" src='/images/Memium_WonB_trimmed.png')
      div(class= 'navbar-right')
        a(class='create-meme navbar-create navbar-logins' href='/meme/create')
          button(class=('btn-create')) Create Meme
        if locals.authenticated
          span(class='navbar-text') Welcome #{user.first_name}!
          form(action='/logout' method='post')
            button(class='btn-logout' type='submit') Logout
        else
          a(class='btn-nav nav-login navbar-logins' href='/login')
            button Login
          a(class='btn-nav nav-signup navbar-logins' href='/signup')
            button(class='btn-signup') Signup
    block content
