extends layout.pug

include utils.pug

  link(rel="stylesheet" href="/stylesheets/login.css")

block content
  +validationErrorSummary(errors)
  img(id="memeium-logo" src='/images/Memium_BonW.png')
  form(class='global' action='/login' method='post')
    h1 Log in
    h2 to continue to Memium
    input(type='hidden' name='_csrf' value=csrfToken)
    +field('Email Address', 'email', email)
    label(for="password") Password
    input(type="password" name='password' required)
    div(class='buttons')
      button(type='submit' class='btn-login') Login
      a(href='/' class='btn-cancel') Cancel
    div
      p: a(href='/signup') Don't have an account??
