extends layout
append head
    link(rel="stylesheet" href="/stylesheets/meme-detail.css")
block content
    div
        h1 #{meme.name}
        img(class='memeImg' src=meme.meme_url)
        div(class='like')
            form(action=`/meme/like/${meme}` method='post')
                input(type='hidden' name='_csrf' value=csrfToken)
                button(class='likeButton' type='submit') Like Meme
                button(class='likeButton' type='submit') disLike Meme
