extends layout
append head
    link(rel="stylesheet" href="/stylesheets/meme-detail.css")
block content
    div
        h1 #{meme.name}
        img(class='memeImg' src=meme.meme_url)
        div(class='delete')
            button 
                a(class='deleteButton' href=`/meme/delete/${meme.id}` role='button') Delete Meme
