extends layout

include utils

  link(rel="stylesheet" href="/stylesheets/signup.css")
block content
  +validationErrorSummary(errors)

  img(id="memeium-logo" src='/images/Memium_BonW.png')
  form(class='global' action='/signup' method='post')
    h1 Create your Account
    h2 to continue to Memium
    input(type='hidden' name='_csrf' value=csrfToken)
    +field('First Name', 'first_name', user.first_name)
    +field('Last Name', 'last_name', user.last_name)
    +field('Email Address', 'email', user.email)
    label(for="password") Password
    input(type="password" name='password' required)
    label(for="confirmPassword")  Confirm Password
    input(type="password" name='confirmPassword' required)
    div(class='buttons')
      button(type='submit' class='btn-signup btn-style') Signup
      a(href='/' class='btn-cancel btn-style') Cancel
    div(class='buttons')
      p: a(href='/login') Already have an account?
  div(class="div-demo_user")
    a(class='demo_user' href='/login/demo')
      button(class="btn-demo_user btn-style") Demo User
