extends layout.pug

include utils.pug

block content
  +validationErrorSummary(errors)
  form(action='/signup' method='post')
    input(type='hidden' name='_csrf' value=csrfToken)
    +field('First Name', 'first_name', user.first_name)
    +field('Last Name', 'last_name', user.last_name)
    +field('Email Address', 'emailAddress', user.email)
    +field('Password', 'password', user.password, 'password')
    +field('Confirm Password', 'confirmPassword', '', 'password')
    div(class='py-4')
      button(type='submit' class='btn btn-signup') Signup
      a(href='/' class='btn btn-cancel') Cancel
