h1{
    font-family: "Proxima Nova", "helvetica neue", "helvetica", "arial", sans-serif;
    color:rgb(12, 120, 163);
    display:flex;
    justify-content: center;
}

/* .page{
    background-color:lightgray;
} */

.formclass{
    display: flex;
    flex-direction: column;
    padding: 6px 10px 6px 0px;
    align-items: center;
    justify-content: space-evenly;
    padding: 50px;
}

.namelabel{
    padding-bottom: 20px;
    color:rgb(190, 136, 35);
    font-size: 26px;
    font-weight: bold;

}

.linklabel{
    padding-top: 50px;
    padding-bottom: 20px;
    color:rgb(190, 136, 35);
    font-size: 26px;
    font-weight: bold;
}

.createbutton{
    background-color: #FFFFFF;
    color:rgb(190, 136, 35);
    font-weight: bold;
    border: 3px solid;
    height: 50px;
    width: 70px;
    box-sizing: border-box;
    vertical-align: top;
    border-radius: 10px;
    font-size: 16px;
}

.nameinput{
    border: 2px solid rgb(190, 136, 35);
    height: 33px;
    width: 200px;
}

.urlinput{
    border: 2px solid rgb(190, 136, 35);
    height: 33px;
    width: 200px;
}
button:hover {
    cursor: pointer;
    color: #7f7f7f;
}
