
h2{
  text-align: center;
}

.meme-page{
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin:20px;
}
.meme{
  width:300px;
  padding:10px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border:1px solid #666;
  border-radius: 15px;
  margin: 10px;
  background-color: #585858;
  padding-left: 35px;
}
