.memeImg {
    display:block;
    margin:auto;
}
.delete {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.deleteButton {
    color: red;
    font-size: 25px;
}
/*
.btn-like {
    display: flex;
    justify-content: center;
} */

.div-like {
    display: flex;
    justify-content: center;
}
