h1 {
    color: black;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin-bottom: -5px;
}

h2 {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-bottom: 20px;
}

#memeium-logo {
    display: block;
    width: 200px;
    margin: auto;
    margin-top: 125px;

}

/* form {
display: flex;
flex-direction: column;
align-items:center;
text-align: center;
margin: auto;
margin-top: 40px;
padding: 10px;
background-color: grey;
border-radius: 8px;
width: 500px;
font-size: 20px;
font-family: Arial, Helvetica, sans-serif
} */

.buttons {
    padding: 5px;
    padding-top: 20px
}

input {
    border: 2px solid black;
    height: 20px;
    background-color: white;
    display: flex;
    border-radius: 7px;
}


.btn-signup {
    margin-right: 5px;
    border: 2px solid;
    border-radius: 5px;
    font-size: 18px;
}

.btn-cancel {
    margin: 5px;
    font-size: 18px
}

div p {
    font-size: 13px;
}

label {
    margin-top: 3px;
}

#last_name.form-control {
    margin-bottom: 5px;
}

#first_name.form-control {
    margin-bottom: 5px;
}

.div-demo_user {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.btn-demo_user {
    margin-right: 5px;
    border: 2px solid;
    border-radius: 5px;
    font-size: 18px;
    box-shadow: 0 1px #666;
}

.btn-style:hover {
    background: #666;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #666,
                0 0 25px #666,
                0 0 50px #666,
                0 0 100px #666;
}


/* .btn-style:hover {
    opacity: 0.8;
} */

.btn-style:active {
    box-shadow: 0 0px #666;
    transform: translateY(2px);
}

.btn-style {}
